<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>BLOGS</h1>
    {% for post in posts %}
    <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
    <small>
      {{ post.created_on.date }} | Categories: {% for category in
      post.categories.all %}
      <a href="{% url 'blog_category' category.name %}">
        {{ category.name }}
      </a>
      {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
  </body>
</html>
